<div class="bar col-md-3">
  <div class="header">
    <h1>Welcome to the greatest and best blog in the world</h1>
  </div>
</div>

<div class="content col-md-9">
  <%= link_to 'New article', new_article_path %>

  <% @articles.each do |article| %>
    <div class="post">
    <h2><%= article.title %></h2>
    <p><%= article.text %></p>
    <div class="sub">
      (<%= article.comments.count %> comments)
      <%= link_to 'Show', article_path(article) %>,
      <%= link_to 'Edit', edit_article_path(article) %>,
      <%= link_to 'Destroy', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
</div>
