<%= link_to 'Back', articles_path %>

<div class="post">
	<h1> <%= @article.title %> </h1>
	<p> <%= @article.text %> </p>
	<%= link_to 'Edit', edit_article_path(@article) %>

	<div class="comments">
		<% if @article.comments.count > 0 %>
			<h3><%= pluralize(@article.comments.count, "comment") %> </h3>
		<% end %>

		<%= render @article.comments %>

		<h4>Add a comment:</h4>
		<%= render 'comments/form' %>

	</div>
</div>
