<%= link_to(icon('chevron-left') + 'Back', articles_path) %>

<div class="post">
	<h1> <%= @article.title %> </h1>
	<p class="info-text">Posted <%= @article.created_at %> by <%= User.find(@article.user_id).name %></p>
	<p> <%= @article.text %> </p>
	<%= link_to_if(can?(:write_article, User), 'Edit', edit_article_path(@article)){} %>
	<br>

	<div class="comments">
		<% if @article.comments.count > 0 %>
			<h3><%= pluralize(@article.comments.count, "comment") %> </h3>
		<% end %>

		<%= render @article.comments %>
		<br>

		<h4>Add a comment:</h4>
		<%= render 'comments/form' %>

	</div>
</div>
